:host {
  display: flex;
  justify-content: end;
  margin: 1rem 2rem;

  button {
    padding: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 0.3rem;
    color: crimson;
    background-color: transparent;
    transition: all .3s ease;
    cursor: pointer;

    &:hover {
      color: #fff;
      background-color: #000000;
    }
  }
}