<h1 class="title">Iniciar Sesión</h1>

<form [formGroup]="loginForm" (ngSubmit)="ingresar()">
  <div class="form-control">
    <label for="email">Correo Electrónico</label><br>
    <input type="email" formControlName="email" id="email" placeholder="username@ejemplo.com">
  </div>

  <div class="form-control">
    <label for="password">Contraseña</label><br>
    <input type="password" formControlName="password" id="password" placeholder="*********">
  </div>

  <div class="form-control">
    <input type="submit" class="btn-submit" value="Ingresar">
  </div>
</form>

<p>¿No tienes una cuenta? Por favor, <a routerLink="/auth/register">regístrate aquí.</a></p>

<div class="error-message" *ngIf="errorMessage !== ''">
  {{errorMessage}}
</div>

<div class="success-message" *ngIf="successMessage !== ''">
  {{successMessage}}
</div>