:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 0.3rem;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .2);

  form {
    width: 100%;

    .form-control {
      margin: 0.5rem;

      input {
        width: 100%;
      }

      .btn-submit {
        display: block;
        width: 33%;
        margin: auto;
        padding: 0.5rem;
        cursor: pointer;
      }
    }
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
  }

}