<h1>Task Manager</h1>

<form>
  <div class="form-control">
    <label for="titulo">Título</label><br>
    <input type="text" id="titulo" name="titulo" placeholder="Ingrese un Título...">
  </div>

  <div class="form-control">
    <label for="titulo">Descripción</label><br>
    <input type="text" id="descripcion" name="descripcion" placeholder="Ingrese un Descripción...">
  </div>
</form>

<div class="btn-container">
  <button type="button">Todas</button>
  <button type="button">Pendientes</button>
  <button type="button">Completadas</button>
</div>